.Icon-Header {
    height: 50%;
    width: 50%;
    padding-left: 120px;
}

.Botao{
    background-color: darkorange;
    border-radius: 0px 50px 50px 0px;
    font-size: 40px;
    color: antiquewhite;
    border:none;
}

.Barra_pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    top: auto;
    border: none;
}


.Pesquisa{
    background-color: rgb(150, 105, 105);
    border-radius: 50px 0px 0px 50px;
    background-image: none;
    background-size: 40%;
    border-width: 50px;
    border-top: 60px;
    text-align: center;
    font-size: 20px;
}

.Pesquisa2{

}