.Icon-Header {
    height: 50%;
    width: 50%;
    padding-left: 120px;
}

.Botao{
    background-color: #ff6a28;
    color:#ffff;
    border:none;
    padding: 13px 18px 13px 14px;
    border-radius: 0 25px 25px 0;
    font-weight: 700;
    transition: background-color .2s ease-in-out;
}

.Barra_pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    top: auto;
    border: none;
}


.Pesquisa2{
    padding: 13px 20px;
    border: 1px solid #e8e8e8;
    border-radius: 25px 0 0 25px;
    box-shadow: 0 0 10px 0 rgba(255, 106, 40, .5);
    width: 390px;

}

.icone {
    align-items: center;
    color: #ff6a28;
    background-color: #ff6a28;
}

.Header_Nav_link{
    display: flex;
    position: relative;
    align-items: left;
    justify-content: left;
    text-align: left;
    text-transform: uppercase;
    color: #595959;
    font-size: .8rem;
    font-weight: 400;

}